<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3>マイページ</h3>
      <table class='table'>
        <thead>
          <tr><%#= image_tag @end_user.get_profile_image, size:'100x100' %></tr>
          <tr>
            <th>ログイン名</th>
            <th><%= @end_user.login_name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @end_user.introduction %></th>
          </tr>
          <%#= link_to "#{recruitment.reply.count}コメント",recruitment_path(reply.id) %>
        </thead>
      </table>
    </div>
  </div>
</div>
<%= link_to "編集する", end_users_information_edit_path %>
