<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
        <h1>本当に退会しますか？</h1>
        <h3>退会すると会員情報やコメント履歴が閲覧できなくなります。<br>
            退会する場合は「退会する」をクリックしてください。</h3>
        <%= link_to '退会しない', end_users_my_page_path, class: "btn btn-success" %>
        <%= link_to "退会する", end_users_withdraw_path, method: :patch, class: "btn btn-danger" %>
    </div>
  </div>
</div>