<div class='container'>
  <div class='row'>
    <h1　class="px-3 mx-auto">麻雀について一昔前まで「賭け・喫煙・飲酒」というイメージが持たれていました。</br>
    最近ではシニア層や中高年に「ノーレート・非喫煙・非飲酒」といった健全な麻雀の遊び方が知られてきています。</br>
    現在麻雀をすることで認知症の予防になることや会話を楽しめるため社交の場としても使われています。</br>
    また、若い世代ではYOUTUBEの配信やアプリから麻雀を触る機会が増えてきたことによりシニア世代と若い世代でのコミュニケーションツールの1種となります。</br>
    家族で一緒にいる時間を増やすことができるまたシニア層ではコミュニケーションの場ができ孤独感や認知症の予防ができます。
    </h1>
  </div>
</div>