<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>HealthMahjongは</br>
      麻雀の役・点数の確認、</br>
      対戦募集ができるサイト</h1>
      <p>また、麻雀が好きな人・麻雀を覚えようとしている人・麻雀アプリで対戦がしたい人・初心者へ説明をする時に教えやすいようまた交流ができる場にしたいと思っています。</p>
      </div>
    </div>
  </div>
</div>
