<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h1>点数計算</h1>
    </div>
    <table border>
      <tr>
        <th colspan="2">親</th>
        <th>役</th>
        <th colspan="2">子</th>
      </tr>
      <tr>
        <td>ツモ</td>
        <td>ロン</td>
        <td></td>
        <td>ツモ</td>
        <td>ロン</td>
      </tr>
      <tr>
        <td>500オール</td>
        <td>1500</td>
        <td>1飜</td>
        <td>500/300</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>1000オール</td>
        <td>3000</td>
        <td>2飜</td>
        <td>1000/500</td>
        <td>2000</td>
      </tr>
      <tr>
        <td>2000オール</td>
        <td>5800</td>
        <td>3飜</td>
        <td>2000/1000</td>
        <td>3900</td>
      </tr>
      <tr>
        <td>4000オール</td>
        <td>12000</td>
        <td>4飜・5飜(満貫)</td>
        <td>4000/2000</td>
        <td>8000</td>
      </tr>
      <tr>
        <td>6000オール</td>
        <td>18000</td>
        <td>6飜・7飜(跳満)</td>
        <td>6000/3000</td>
        <td>12000</td>
      </tr>
      <tr>
        <td>8000オール</td>
        <td>24000</td>
        <td>8飜・9飜(倍満)</td>
        <td>8000/4000</td>
        <td>16000</td>
      </tr>
      <tr>
        <td>12000オール</td>
        <td>36000</td>
        <td>11飜・12飜(三倍満)</td>
        <td>12000/6000</td>
        <td>24000</td>
      </tr>
      <tr>
        <td>16000オール</td>
        <td>48000</td>
        <td>13飜(役満)</td>
        <td>16000/8000</td>
        <td>32000</td>
      </tr>
    </table>
 　　</div>
  </div>
</div>

