<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h1>点数計算</h1>
    </div>
    <table border>
      <tr>
        <th>親</th>
        <th></th>
        <th>役</th>
        <th>子</th>
      </tr>
      <tr>
        <td>ツモ</td>
        <td>ロン</td>
      </tr>
      <tr>
        <td>500</td>
        <td>1500</td>
      </tr>
      <tr></tr>
    </table>
 　　</div>
  </div>
</div>

