@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import './public_registrations';

.container-card {
  width: 90;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 10px;
}