<h1>コメント一覧</h1>
<% @recruitments.each do |recruitment| %>
<div>
  <p>タイトル</p>
    <%= recruitment.title %>
  <p>コメント</p>
    <%= recruitment.comment %>
  <p>ユーザー名</p>
    <%= recruitment.end_user.login_name %>
  <p>コメント詳細</p>
  <%= link_to "コメント詳細", recruitment_path(recruitment.id) %>
</div>
<% end %>