<div class='container'>
  <div class='row'>
    <div class='col-9 mx-auto text-center'>
      <h1>役一覧</h1>
      <table class="table table">
        <thead>
          <tr>
            <th>役名</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @mahjong_hands.each do |mahjong_hand| %>
            <tr>
              <td><%= link_to mahjong_hand.name, mahjong_hand_path(mahjong_hand.id) %></td>
              <td><%= mahjong_hand.genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 